{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>

            <!--周辺カフェ-->
            <input type="button" id="submit1" value="カフェ">
            <table id="table1" border="1">
                <tr><th>店舗名</th><th>アクセス</th></tr>
            </table>
            <script>
            function showResult( result ) {
                for ( var i in result.rest ) {
                    $("#table1").append("<tr><td>" + result.rest[ i ].name + "</td><td>" + result.rest[ i ].opentime )
                }
            }

            $( function () {
                var url = "https://api.gnavi.co.jp/RestSearchAPI/20150630/?callback=?"
                var params = {
                    keyid: "",
                    format: "json",
                    latitude: 35.689738,
                    longitude: 139.700391,
                    range: 4,
                    freeword: "カフェ"
                }

                $("#submit1").on("click", function () {
                    params.keyid = "720080a2660c9bab99f283596cb1d67f"
                    $.getJSON( url, params, function( result ) {
                        showResult( result )
                    })
                })
            })
            </script>

            <!--周辺トイレ-->
            <input type="button" id="submit2" value="トイレ" onclick="tokyo()">
            <!--<table id="table2" border="1">
                <tr><th>緯度</th><th>経度</th></tr>
            </table>-->
            <script>
            /*function showResult( result ) {
                for ( var i in result.rest ) {
                    $("#table2").append("<tr><td>" + result.rest[ i ].name + "</td><td>" + result.rest[ i ].opentime )
                }
            }*/

            var tokyo = function (){
                        var url = "https://api-tokyochallenge.odpt.org/api/v4/files/mlit/StationMap/Keio_Shinjuku_FacilityInfo.csv?acl:consumerKey=355cd2656197f1f6c6f642913389eab4eb2d529cfc7d65efd83e6a27cda300c6/Keio_Shinjuku_FacilityInfo.csv"
                        //var keyid = "355cd2656197f1f6c6f642913389eab4eb2d529cfc7d65efd83e6a27cda300c6"
                        var csvData = new Array();
                        var data = new XMLHttpRequest();
                        data.open("GET", url, true);
                        console.log("a");
                        //data.send(null);
                        console.log("b";)
                        data.onload = function(){
                            convertCSVtoArray(data.responseText); // 渡されるのは読み込んだCSVデータ
                        }
                        console.log("d");
                    }

                    // 読み込んだCSVデータを二次元配列に変換する関数convertCSVtoArray()の定義
                    function convertCSVtoArray(str){ // 読み込んだCSVデータが文字列として渡される
                        var result = []; // 最終的な二次元配列を入れるための配列
                        var tmp = str.split("\n"); // 改行を区切り文字として行を要素とした配列を生成
                        // 各行ごとにカンマで区切った文字列を要素とした二次元配列を生成
                        for(var i=0;i<tmp.length;++i){
                            result[i] = tmp[i].split(',');
                        }
                        alert(result[1][1]); // 300yen
                        console.log("c");
                    }

                /*$("#submit2").on("click", function () {
                    showResult(csvData);
                })
            })*/

            </script>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
